# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
/env/
venv/
.venv/
*.log

# VS Code
.vscode/

# Project Specific
*.gb
*.gbc
*.ram
*.state
*.pth
experiments/
states/
summaries/
tests/
.claude/
readmes/

# File Ignores
extract_maps.py
