# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
/env/
venv/
.venv/
*.log

# VS Code
.vscode/

# Project Specific
*.gb
*.gbc
*.ram
*.state
experiments/logs/
checkpoints/
states/

# File Ignores
extract_maps.py